<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="$(arg name)">

  <!-- robot name parameter -->
  <xacro:arg name="name" default="chessaton"/>
  <!-- parameters -->
  <xacro:arg name="prefix" default="" />

  <xacro:include filename="$(find chessaton_moveit_config)/srdf/chessaton_macro.srdf.xacro"/>

  <xacro:chessaton_srdf name="$(arg name)" prefix="$(arg prefix)"/>

</robot>