<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <!-- Specify some colours -->
    <material name="metal">
        <color rgba="0.79216 0.81961 0.93333 1" />
    </material>
    <material name="white">
        <color rgba="1 1 1 1"/>
    </material>

    <material name="orange">
        <color rgba="1 0.3 0.1 1"/>
    </material>

    <material name="blue">
        <color rgba="0.2 0.2 1 1"/>
    </material>

    <material name="color_link0">
        <color rgba="0.89804 0.91765 0.92941 1" />
    </material>

    <material name="color_link1">
        <color rgba="0.49804 0.49804 0.49804 1" />
    </material>

    <material name="color_link2">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
    </material>

    <material name="color_link3">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
    </material>

    <material name="color_link4">
        <color rgba="0.75294 0.75294 0.75294 1" />
    </material>

    <material name="color_gripper">
        <color rgba="0.49804 0.49804 0.49804 1" />
    </material>

    <material name="color_gripper_lfinger">
        <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
    </material>

    <material name="color_gripper_rfinger">
        <color rgba="0.79216 0.81961 0.93333 1" />
    </material>
</robot>