<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Gazebo is unable to use the same <material> tags that are already in the URDF (that RViz uses). -->
    <!-- Instead, we need to add gazebo tags for our links that refer to Gazebo materials -->

    <gazebo reference="chessaton_link0">
        <material>Gazebo/Green</material>
    </gazebo>

    <gazebo reference="chessaton_link1">
        <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="chessaton_link2">
        <material>Gazebo/Orange</material>
    </gazebo>

    <gazebo reference="chessaton_link3">
        <material>Gazebo/Red</material>
    </gazebo>

    <gazebo reference="chessaton_link4">
        <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="chessaton_gripper">
        <material>Gazebo/White</material>
    </gazebo>

    <gazebo reference="left_finger">
        <material>Gazebo/White</material>
    </gazebo>

    <gazebo reference="right_finger">
        <material>Gazebo/White</material>
    </gazebo>

    <!--       -->
    <!-- Macro -->
    <!--       -->
     <xacro:macro name="gz_ros2_control" params="ros2_controller_parameters">
      <gazebo>
        <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
          <parameters>${ros2_controller_parameters}</parameters>
        </plugin>
      </gazebo>
    </xacro:macro>

    <xacro:macro name="mein_ros2_control" params="
        ros2_control
        prefix
        ros2_control_plugin
        ros2_control_command_interface
        ros2_controller_parameters
    ">

        <!-- ROS 2 control -->
        <xacro:if value="${ros2_control}">
            <xacro:ros2_control_chessaton_arm prefix="${prefix}" plugin="${ros2_control_plugin}" command_interface="${ros2_control_command_interface}"/>
        </xacro:if>
    </xacro:macro>

</robot>