<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Gazebo is unable to use the same <material> tags that are already in the URDF (that RViz uses). -->
    <!-- Instead, we need to add gazebo tags for our links that refer to Gazebo materials -->

    <gazebo reference="chessaton_link0">
        <mu1 value="0.85"/>
        <mu2 value="0.85"/>
        <kp value="1000000.0"/>
        <kd value="1.0"/>
        <material>Gazebo/Green</material>
    </gazebo>

    <gazebo reference="chessaton_link1">
        <mu1 value="0.85"/>
        <mu2 value="0.85"/>
        <kp value="1000000.0"/>
        <kd value="1.0"/>
        <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="chessaton_link2">
        <mu1 value="0.85"/>
        <mu2 value="0.85"/>
        <kp value="1000000.0"/>
        <kd value="1.0"/>
        <material>Gazebo/Orange</material>
    </gazebo>

    <gazebo reference="chessaton_link3">
        <mu1 value="0.85"/>
        <mu2 value="0.85"/>
        <kp value="1000000.0"/>
        <kd value="1.0"/>
        <material>Gazebo/Red</material>
    </gazebo>

    <gazebo reference="chessaton_link4">
        <mu1 value="0.85"/>
        <mu2 value="0.85"/>
        <kp value="1000000.0"/>
        <kd value="1.0"/>
        <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="chessaton_gripper">
        <mu1 value="0.85"/>
        <mu2 value="0.85"/>
        <kp value="1000000.0"/>
        <kd value="1.0"/>
        <material>Gazebo/White</material>
    </gazebo>

    <gazebo reference="left_finger">
        <mu1 value="1.15"/>
        <mu2 value="1.15"/>
        <kp value="1000000.0"/>
        <kd value="1.0"/>
        <minDepth>0.001</minDepth>
        <material>Gazebo/White</material>
    </gazebo>

    <gazebo reference="right_finger">
        <mu1 value="1.15"/>
        <mu2 value="1.15"/>
        <kp value="1000000.0"/>
        <kd value="1.0"/>
        <minDepth>0.001</minDepth>
        <material>Gazebo/White</material>
    </gazebo>

    <!-- <gazebo reference="[joint name]">
        <implicitSpringDamper>1</implicitSpringDamper>
    </gazebo> -->
    <gazebo>
        <plugin name="gazebo_grasp_fix" filename="libgazebo_grasp_fix.so">
             <arm>
                <arm_name>chessaton</arm_name>
                <palm_link> chessaton_link4  </palm_link>
                <gripper_link> right_finger </gripper_link>
                <gripper_link> left_finger </gripper_link>
             </arm>
            <forces_angle_tolerance>120</forces_angle_tolerance>
            <update_rate>30</update_rate>
            <grip_count_threshold>4</grip_count_threshold>
            <max_grip_count>20</max_grip_count>
            <release_tolerance>0.0001</release_tolerance>
            <disable_collisions_on_attach>false</disable_collisions_on_attach>
            <contact_topic>__default_topic__</contact_topic>
         </plugin>
    </gazebo>

    <!--       -->
    <!-- Macro -->
    <!--       -->
     <xacro:macro name="gz_ros2_control" params="ros2_controller_parameters">
      <gazebo>
        <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
          <parameters>${ros2_controller_parameters}</parameters>
        </plugin>
      </gazebo>
    </xacro:macro>

    <xacro:macro name="mein_ros2_control" params="
        ros2_control
        prefix
        ros2_control_plugin
        ros2_control_command_interface
        ros2_controller_parameters
    ">

        <!-- ROS 2 control -->
        <xacro:if value="${ros2_control}">
            <xacro:ros2_control_chessaton_arm prefix="${prefix}" plugin="${ros2_control_plugin}" command_interface="${ros2_control_command_interface}"/>
        </xacro:if>
    </xacro:macro>

</robot>